.card-nota {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
.card-nota_cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-nota_titulo {
  font-size: 1.2em;
  margin: 0.5rem 0;
}

.card-nota_conteudo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.card-nota_texto {
  margin-top: 8px;
  font-size: 1em;
  color: #666666;
  margin: 0.5rem 0;
}

.delete-icon {
  align-self: flex-end;
}

.card-nota_categoria {
  background-color: var(--secundaria);
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
}
